<div class="test-general__container" data-js="fitbit-test">
  <h3 class="test-general__title"><%=image_tag("fitbit-icon.png")%> <em><%=link_to("Fitbit",{:controller => "fitbit_profiles",:action => "info"}, :data => { :toggle => "tooltip", :placement => "bottom"}, :title => "Want to learn more about our Fitbit-integration? Click here")%></em> profile for <%= link_to(@fitbit_profile.user.name, @fitbit_profile.user)%></h3>
  <%if current_user%>
  <p class="lead"><%=link_to("Download dump",{:controller => "fitbit_profiles", :action => "dump", :id => @fitbit_profile.id}, class: "btn btn-default")%></p>
  <%else%>
  <p class="lead">If you log in to <em>openSNP</em>, you can download a CSV file with all the data.</p>
  <%end%>

  <%if @activity != nil%>
  <legend>Activity Measurements</legend>
  <div id="chart1"></div>
  <div id="chart2"></div>
  <%end%>

  <%if @body and @body != [] %>
  <legend>Body Measurements</legend>

  <div id="chart3"></div>
  <%end%>

  <%if @sleep and  @sleep != [] %>
  <legend>Sleep Measurements</legend>

  <div id="chart4"></div>
  <div id="chart5"></div>
  <%end%>
</div>
